<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="../../tools/styles/index.css">
</head>
<body>
    <nav class="navbar">
        <h2>E-div</h2>
        <ul>
            <li><a href="">
                    <p>Centre d'interet</p>
                </a></li>
            <li><a href="">
                    <p>Contact</p>
                </a></li>
            <li><a href="../../index.html">
                    <p>Connexion</p>
                </a></li>
            <li><a href="../ediv/component/html/Home.html">
                    <p>Home</p>
                </a></li>
        </ul>
    </nav>
    <main class="main">
        <header>
            <h1>E-commerce Developpement Informatique Value</h1>
            <p>Démarquez-vous avec notre service de développement informatique de qualité supérieure</p>
        </header>
    </main>
</body>
</html>