<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../tools/styles/login.css">
    <title>Connecter!</title>
</head>
<body>
    <nav class="navbar">
        <h2><span id="span">E-</span>div</h2>
        <ul>
            <li><a href=""><p>Centre d'aide</p></a></li>
            <li><a href=""><p>Contact</p></a></li>
            <li><a href=""><button id="button1">Connexion</button></a></li>
            <li><a href="../../index.html"><button id="button2">Home</button></a></li>
        </ul>
    </nav>
    <main class="main">
        <h2>Ravis de vous revoir</h2>
        <p>Entrez-votre compte</p>
        <form action="../HTML/accueil.html">
            <input type="text" placeholder="Nom d'utilisateur ou e-mail" required><br>
            <input type="password" placeholder="Mot de pass" required><br>
            <a href=""><em>Mot de pass oublier?</em></a><br>
            <input type="submit" value="Se connecter" id="inpt-submit">
            <p>Si vous n'avez pas de compte? <a href="../HTML/signup.html">Cliquez-ici</a></p>
        </form>
    </main>
</body>
</html>