<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../tools/styles/signup.css">
    <title>Inscriver!</title>
</head>
<body>
    <nav class="navbar">
        <h2>E<span id="span">-div</span></h2>
        <ul>
            <li><a href=""><p>Centre d'aide</p></a></li>
            <li><a href=""><p>Contact</p></a></li>
            <li><a href=""><button id="button1">Connexion</button></a></li>
            <li><a href="../../index.html"><button id="button2">Home</button></a></li>
        </ul>
    </nav>
    <main class="main">
        <h2>Inscrivez-vous</h2>
        <p>Créez-votre compte</p>
        <form action="../HTML/accueil.html">
            <input type="text" placeholder="Nom d'utilisateur" required><br>
            <input type="email" placeholder="E-mail" required><br>
            <input type="password" placeholder="Mot de pass" required><br>
            <input type="password" placeholder="Confirmer le mot de pass" required><br>
            <p><input type="checkbox" name="" id="inpt-check" required><em>Restez connecter</em></p><br>
            <input type="submit" value="S'inscrire" id="inpt-submit">
            <p>Si vous avez déja votre compte? <a href="../HTML/login.html">Cliquez-ici</a></p>
        </form>
    </main>
</body>
</html>